.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #ffffff;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body{
    font-family: 'Poppins', sans-serif;
    
    margin: 10px;
}

.site-header{
    text-align: center; 
    margin: 5px;
}

.title{
    text-align: center;
    font-feature-settings: bold;
}

hr { 
    width:30%; 
    height:1px; 
    background: black; 
}

.language-js{
    background-color: lightgray;
    font-family: monospace;
    font-weight: 100;
}

.highlighter-rouge{
     background-color: lightgray;
    font-family: monospace;
    font-weight: 100;
}

span{
    font-weight: 200;
    color: #313131;
}

h1{
    text-align: center;
    margin: 10px;
    padding: 20px;
}

h2{
    text-align: center;
    font-size: 150%;
    margin: 10px;
    padding: 20px;
}

h3{
    text-align: left;
    font-size: 100%;
    font-weight: 800;
    color: black;
    
}
p{
    font-weight: 200;
}
h6{
    font-size: 80%;
}

code{
    margin: auto;
    color: #333; 
}

.center{
    text-align: center;
}

table{
    width: 100%;
    color: #555;
    font-family: monospace;
    border-top-style:  groove;
    border-width: thin;
    border-bottom-style: groove;
    table-layout: auto;
}
